
.navlink,.titnav{
    font-weight: bold !important;
    color: #535b62 !important;
    margin: 10px 20px !important;
}

.titlenav{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 10px 0px 10px 0px !important;
    height: 45px;
}

.blogcards{
    margin: 5px 10px !important;
    height: 100% !important; 
    
}
.cardwid{
width: 350px !important;
margin: 35px  0px;
}
.Carademe{
    font-weight: bold !important;
    color: #0AAA01 !important;
}
.cardcontainer{
    margin-top: 4%;
}

.navunderlin :hover{
    border-bottom: 5px solid #0AAA01 !important;
    padding-bottom: 25px;
    
}


.flex-container{
    display: flex;
}

.blogText{
    font-size: 18px;
 
}

.blogText h1, .blogText p{
    margin: 45px 0px !important;
}
.blogText h1, p{
    color: #535b62;
}

.topnav div,a{
    padding: 0px 30px;
    
}